<dl>
  <dt>Sport</dt>
  <dd>{{event.sport}}</dd>
  <dt>Location</dt>
  <dd>{{event.location}}</dd>
  <dt>Price/person</dt>
  <dd>{{pricePerPerson}} lei</dd>
  <dt>Scheduled time</dt>
  <dd>{{event.dateAndHour}}</dd>
  <dt>owner</dt>
  <dd>{{event.owner.username}}</dd>
  <dt>subscribed persons</dt>
  <dd>{{event.subscribedPersons}}/{{event.maximumPersons}}</dd>
  <dt>description</dt>
  <dd>{{event.description}}</dd>
  <dt>subscribed</dt>
  <dd *ngIf="subscribed === true"><i class="material-icons">done</i>You are subscribed to this event</dd>
  <dd *ngIf="subscribed === false"><i class="material-icons">clear</i>You are not subscribed to this event</dd>
  <dt>Subscribed Users</dt>
  <dd>
    <div *ngFor="let user of users">
      {{user.username}}
    </div>
  </dd>
</dl>

<div *ngIf="!subscribed && event.subscribedPersons < event.maximumPersons">
  <a href="events" (click)="subscribe()" class="myButton">Subscribe</a>
</div>

<div *ngIf="subscribed && !isOwner()">
  <a href="events" (click)="unsubscribe()" class="unsubscribeButton">Unsubscribe</a>
</div>

<div *ngIf="isOwner()">
  <a href="events" (click)="deleteEvent()" class="unsubscribeButton">Delete</a>
</div>
