dl {
  display: flex;
  flex-flow: row wrap;
  border: solid #333;
  border-width: 1px 1px 0 0;
}
dt {
  flex-basis: 20%;
  padding: 2px 4px;
  background: #333;
  text-align: right;
  color: #fff;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #333;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 3px 0px #3dc21b;
  -webkit-box-shadow:inset 0px 1px 3px 0px #3dc21b;
  box-shadow:inset 0px 1px 3px 0px #3dc21b;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color:#44c767;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2f6627;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}

.unsubscribeButton {
-moz-box-shadow:inset 0px 1px 3px 0px #f29c93;
-webkit-box-shadow:inset 0px 1px 3px 0px #f29c93;
box-shadow:inset 0px 1px 3px 0px #f29c93;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
background-color:#fe1a00;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:1px solid #d83526;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:11px 23px;
text-decoration:none;
text-shadow:0px -1px 0px #b23e35;
}
.unsubscribeButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
  background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
  background-color:#ce0100;
}
.unsubscribeButton:active {
  position:relative;
  top:1px;
}
